bin/
lib/

Obj/
Moc/
Dxg/
#**/Dxg/*
#!**/Dxg/*Doxyfile
**/Res/logo.ico
**/Res/Res.rc

html/

*.bmp
*.ini

_*.bat

.qmake.stash

################################################################################

Makefile*

*.manifest
*.res

*.prl

moc_*.cpp
qrc_*.cpp
xrc_*.cpp

################################################################################
#C/C++
################################################################################

#Compiled Object files
*.slo
*.lo
*.o
*.obj

#Temporary Assembler files
*.s
*.asm

#Precompiled Headers
*.gch
*.pch

#Compiled Dynamic libraries
*.so
*.so.*
*.dylib
*.dll

#Compiled Static libraries
*.lai
*.la
*.a
*.lib
*.exp

#Executables
*.exe
*.out
*.app

################################################################################
#Visulal Studio files
################################################################################

#User-specific files
*.suo
*.user
*.userossceche
*.sln.docstates
*.vs
*.idb

*_i.c
*_p.c
*_i.h
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.log
.builds
*.pidb
*.svclog
*.scc
*.enc

#Visual C++ cache files
ipch/
*.aps
*.ncb
*.opendb
*.opensdf
*.sdf
*.cachefile

#Visual Studio profiler
*.psess
*.vsp
*.vspx
*.sap

*.tlog
*.tlog/
*.lastbuildstate
*.unsuccessfulbuild

*.iobj
*.ipdb

################################################################################
#Python
################################################################################

__pycache__/
*.py[cod]
*$py.class
ChessTasks/Chess-Tasks/
